<div class="admin-sidebar">

    <!-- TOP HEADER -->
    <div class="sidebar-header d-flex justify-content-between align-items-center">

        <img src="{{ url_for('static', filename='user/img/webstudio_img.png') }}" 
            alt="WebStudio Logo"
            class="sidebar-logo">

        <!-- 🔙 BACK BUTTON -->
        <a href="{{ url_for('index') }}" class="back-home-btn" title="Back to Home">
            <i class="fa fa-arrow-left"></i>
        </a>

    </div>

    <ul>

        <li class="{% if request.endpoint == 'admin_dashboard' %}active{% endif %}">
            <a href="{{ url_for('admin_dashboard') }}">
                <i class="fa fa-home"></i> Dashboard
            </a>
        </li>

        <li class="{% if request.endpoint == 'admin_blogs_dashboard' %}active{% endif %}">
            <a href="{{ url_for('admin_blogs_dashboard') }}">
                <i class="fa fa-blog"></i> Blogs
            </a>
        </li>

        <li class="{% if request.endpoint == 'project_back' %}active{% endif %}">
            <a href="{{ url_for('project_back') }}">
                <i class="fa fa-project-diagram"></i> Projects
            </a>
        </li>

        <li class="{% if request.endpoint == 'admin_users' %}active{% endif %}">
            <a href="{{ url_for('admin_users') }}">
                <i class="fa fa-users"></i> Users
            </a>
        </li>

        <li class="{% if request.endpoint == 'admin_contact' %}active{% endif %}">
            <a href="{{ url_for('admin_contact') }}">
                <i class="fa fa-envelope"></i> Contacts
            </a>
        </li>

    </ul>

</div>